<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bit.turit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Ver bien esto https://developer.android.com/guide/topics/data/autobackup -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logoturit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logoturit_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TurIt">

        <!--Se agregó android:screenOrientation="portrait"
        a todas las activities para que no se pueda utilizar
        la app en modo landscape-->
        <activity android:name=".GraciasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"/>
        <activity
            android:name=".FormularioActivity"
            android:label="@string/title_activity_formulario"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".MenuTiendaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TiendasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".LugaresActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".AgregarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".TicketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bit.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>